a:link, a:visited {
	color: black;
}

a:hover {
	color: green;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: auto;
}

aside {
    flex: 1;
    background-color: white;
    text-align: center;
    line-height: 30px;
}

article {
    flex: 3;
}

header {
    height: auto;
}

ol {
    border-style: double;
}

li, footer {
    text-align: center;
    line-height: 30px;
}

iframe {
    height: 400px;
    width: 600px;
}
